@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap');


#org-info-js_console-container {
    display: none;
}

a {
    color: #669763;
}

a:hover {
    color: #669763;
    text-decoration: underline;
}

a:visited {
    color: #bd798c; /* Change color for visited links */
}

.outline-2 {
    padding: 10px;
    margin: 30px;
    background-color: #282828;
    border-radius: 4px;
    border: solid #e6e6e6 2px;
    color: #ebdbb2;
    margin-bottom: 20px;
    min-width: 80%;
    /* margin-top: 1em; */
    /* position: relative; */
    /* text-decoration: none; */
}

h2 {
    font-weight: normal;
    font-family: "Smooch Sans", serif;
    font-size: max(2.5vw, 32px);
    /* font-size: 3.5vw; */
}

h2::before {
    display: inline;
    margin-right: 15px;
    content: "▼"; /* Use an emoji or Unicode character */
}

h3 {
    color: #fabd2f;
    font-weight: normal;
    font-family: "Smooch Sans", serif;
    font-size: max(2.0vw, 32px);
}

h4 {
    color: #fb4933;
    font-weight: normal;
    font-family: "Smooch Sans", serif;
    font-size: max(1.5vw, 32px);
}

h3::before {
    display: inline;
    margin-right: 15px;
    content: "▼"; /* Use an emoji or Unicode character */
}

h4::before {
    display: inline;
    margin-right: 15px;
    content: "▼"; /* Use an emoji or Unicode character */
}

/* On mouse-over, add a deeper shadow */
.outline:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

outline-text-2 {
    background-color: #282828;
    border-radius: 4px;
    border: solid #e6e6e6 2px;
    color: #ebdbb2;
}

.org-info-js_local-toc {
    display: none;
    /* background-color: #f9f9f9; */
    /* border: 1px solid #ddd; */
    /* border-radius: 5px; */
    /* padding: 15px; */
    /* margin: 20px 0; */
    /* font-family: Arial, sans-serif; */
}

.title {
    display: none !important;
}

.navbar {
    margin-bottom: 90px;
}

.content {
    /* display: block; */
    /* flex-direction: column; */
    /* /\* justify-content: center; *\/ */
    /* align-items: center; */
    /* margins: auto; */
}
