@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Smooch+Sans:wght@100..900&display=swap');

html {
  position: relative;
  min-height: 100%;
}

body {
    /* margin-bottom: 60px; /\* Margin bottom by footer height *\/ */
    background-color: #1d2021;
}


.navbar {
    display: block;
    border-bottom: solid 2px #fb4933;
    /* background-image: url("books-background.jpeg"); */
    background-image: url("equations-background.png");
    padding: 0px;
}

.title-background a:hover {
    text-decoration: none;
}
.title-background {
    display: flex;
    justify-content: center;
    background-color: rgba(28, 31, 38, 0.9);
}


a {
    color: #669763;
}

a:hover {
    color: #669763;
    text-decoration: underline;
}

a:visited {
    color: #bd798c; /* Change color for visited links */
}

.navbar a {
    text-decoration: none;
}

.main-title {
    background-color: rgba(28, 31, 38, 0.5);
    font-family: "Paytone One", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    color: #fabd2f;
    font-size: max(2.4vw, 26px);
    padding: 16px;
    text-decoration: none;
}

#content {
    padding-left: 8px;
    padding-right: 8px;
    /* padding: none; */
    /* /\* padding-bottom: 100px; *\/ */
    color: #ebdbb2;
    font-size: 1.2em;
    /* /\* background: white; *\/ */
    /* /\* max-width: none; *\/ */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    
}

h1 {
    font-family: "Smooch Sans", serif;
    font-size: max(2.5em, 32px);
    font-weight: normal;
}

.title {
    color: #83a598;
    background-color: #1d2021;
    margin-bottom: 0;
    padding-top: 50px;
    text-transform: uppercase;
}

h2 {
    font-size: 2em;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0px;
}

h3 {
    font-size: 1.7em;
    padding-top: 5px;
    padding-bottom: 5px;
}

h4 {
    font-size: 1.5em;
    padding-top: 5px;
    padding-bottom: 5px;
}

.outline-3 {
    padding-left: 15px;
}

.outline-4 {
    padding-left: 30px;
}

.outline-5 {
    padding-left: 45px;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}


table {
    border-top: 2px solid #fb4933;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    /* min-width: 400px; */
    /* width: 100%; */
    /* overflow-x:auto; */
}


thead th {
    background-color: #282828;
    color: #ebdbb2;
    font-weight: 900;
    font-size: 1.2em;
}

th.org-right {
    text-align: start;
}

td.org-right {
    text-align: start;
}

th.org-left {
    text-align: start;
}

td.org-left {
    text-align: start;
}

 th, td {
    padding: 12px 15px;
}

tbody tr {
    border-bottom: 1px solid #282828;
    text-align: left;
}

tbody tr:nth-of-type(even) {
    background-color: #282828;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #fb4933;
}

tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.MJX-TEX {
    font-size: 1.2em;
    font-weight: normal;
}

.MathJax_Display {
    font-size: 1.2em;
    font-weight: normal;
}

.MathJax {
    font-size: 1.2em;
    font-weight: normal;
}

pre {
    padding: 0px;
}

pre.example {
    padding: 10px;
    background-color: #282828;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
}

blockquote {
    font-size: 1.3em;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    padding-left: 15px;
    border-left: 3px solid #ccc;
}

iframe {
    width: 100%;
}

video {
    width: 100%;
}

audio {
    width: 100%;
}


#postamble {
    margin-top: 70px;
    border-top: solid 2px #fb4933;
    background-image: url("equations-background.png");
    color: white;
    font-size: 1.1em;
    width: 100%;
    /* height: 100px; /\* Set the fixed height of the footer here *\/ */
    /* line-height: 60px; /\* Vertically center the text there *\/ */
    /* background-color: #f5f5f5; */
}

#custom-footer {
    background-color: rgba(28, 31, 38, 0.98);
    padding: 15px;
}

.bi bi-house-door-fill {
    font-size: 32px;
    width:32px;
    height: 32px;
}


/* Styling for TOC */

#table-of-contents {
    /* background-color: #282828; */
    /* border-radius: 3px; */
    /* border-bottom: solid #e6e6e6 1px; */
    padding: 15px;
    margin-bottom: 0px;
    color: #669763;
    font-weight: bold;
}

#table-of-contents h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #669763;
    font-weight: bold;
}

#table-of-contents ul {
    list-style-type: none;
}

#table-of-contents li {
    margin: 8px 0;
}

#table-of-contents a {
    text-decoration: none;
    color: #669763;
    transition: color 0.3s ease;
}

#table-of-contents a:hover {
    color: #669763;
    text-decoration: underline;
}

#table-of-contents a:visited {
    color: #bd798c; /* Change color for visited links */
}


#text-hide {
  display: none;
}

#hide:hover + #text-hide {
  display: block;
  color: red;
}

/*

Gruvbox style (dark) (c) Pavel Pertsev (original style at https://github.com/morhetz/gruvbox)

*/


td.hljs-ln-numbers {
    text-align: center;
    color: #bcb191;
    border-right: 1px solid #999;
    vertical-align: top;
    padding-right: 5px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
td.hljs-ln-code {
    padding-left: 10px;
}

code {
    white-space: pre-wrap;
    overflow: auto;
    color: #fb4933;
    font-weight: bold;
}

.hljs-copy-wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
}

.hljs-ln {
    background: #282828;
    margin: 0px;
    box-shadow: none;
    border-top: 0px solid #282828;
}
.hljs-ln tbody td {
    background: #282828;
    font-family: monospace;
    font-size: 1.2em;
    margin: 0px;
    box-shadow: none;
}

.hljs-ln tbody tr {
    border-bottom: 0px solid #dddddd;
    background: #282828;
    text-align: left;
    margin: 0px;
    box-shadow: none;
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #282828;
    margin: 0px;
}

.hljs,
.hljs-subst {
  color: #ebdbb2;
}

/* Gruvbox Red */
.hljs-deletion,
.hljs-formula,
.hljs-keyword,
.hljs-link,
.hljs-selector-tag {
  color: #fb4934;
}

/* Gruvbox Blue */
.hljs-built_in,
.hljs-emphasis,
.hljs-name,
.hljs-quote,
.hljs-strong,
.hljs-title,
.hljs-variable {
  color: #83a598;
}

/* Gruvbox Yellow */
.hljs-attr,
.hljs-params,
.hljs-template-tag,
.hljs-type {
  color: #fabd2f;
}

/* Gruvbox Purple */
.hljs-builtin-name,
.hljs-doctag,
.hljs-literal,
.hljs-number {
  color: #8f3f71;
}

/* Gruvbox Orange */
.hljs-code,
.hljs-meta,
.hljs-regexp,
.hljs-selector-id,
.hljs-template-variable {
  color: #fe8019;
}

/* Gruvbox Green */
.hljs-addition,
.hljs-meta-string,
.hljs-section,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-string,
.hljs-symbol {
  color: #b8bb26;
}

/* Gruvbox Aqua */
.hljs-attribute,
.hljs-bullet,
.hljs-class,
.hljs-function,
.hljs-function .hljs-keyword,
.hljs-meta-keyword,
.hljs-selector-pseudo,
.hljs-tag {
  color: #8ec07c;
}

/* Gruvbox Gray */
.hljs-comment {
  color: #928374;
}

/* Gruvbox Purple */
.hljs-link_label,
.hljs-literal,
.hljs-number {
  color: #d3869b;
}

.hljs-comment,
.hljs-emphasis {
  font-style: italic;
}

.hljs-section,
.hljs-strong,
.hljs-tag {
  font-weight: bold;
}

